<!DOCTYPE html>
<html lang="es">
    <body>
        <div class="container px-4 px-lg-5">
          <br>
          <br>
          <button class="btn btn-primary" type="button"  routerLink="/Empresa/productoE"><i class="bi bi-arrow-left"></i>
            Regresar al Control de Productos
        </button>
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-3 mb-lg-0" src="https://www.gbtec.com/fileadmin/images/main-navigation/software/bpm/bic-connectors/bic-process-mining-for-sap/efficiency-and-operational-excellence.svg"/></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Productos de Sucursal</h1>
                    <br>
                    <p>Aquí podrá ver los productos con los que cuenta la sucursal de la empresa, y realizar múltiples funciones sobre los mismos, siempre puedes asegurarte de que tus cantidades de inventario son siempre exactas, todos estos dependerán completamente de la Empresa como tal, de los Productos que posee la Central.</p>
                    <div class="input-group">
                      <input [(ngModel)]="buscarPSucursal" type="Buscar" class="form-control rounded" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-addon" />
                      <button type="button" class="btn btn-outline-primary">Buscar</button>
                    </div>
                    <br>
                    <button type="button" class="btn btnStock" (click)="getProductosStockSucursal()"><i class="bi bi-bag-check"></i> Ordenar por Stock Mayor</button>
                    <button type="button" class="btn btnStock" (click)="getProductosStockSucursalMenor()"><i class="bi bi-bag-check"></i> Ordenar por Stock Menor</button>
          </div>
           </div>

            <div class="card text-white bg my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Por medio de este apartado, puedes ver y manejar de la mejor manera los productos propios de la sucursal, Productos listos para vender.</p></div>
            </div>

        </div>

        <div class="container">

          <div class="text-center">

            <div class="col-sm">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Cantidad en Existencia</th>
                    <th scope="col">Cantidad Vendida</th>
                    <th scope="col">Vender Producto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prodS of productoSucursalModelId | buscarPSucursal:buscarPSucursal">
                    <td>{{ prodS.nombreProductoSucursal }}</td>
                    <td>{{ prodS.stockSucursal }}</td>
                    <td>{{ prodS.cantidadVendida }}</td>
                    <td><button class="btn btn-primary"  type="button" data-bs-toggle="modal" data-bs-target="#modalVenderProductoSucursal" (click)="getProductosEmpresaId(prodS._id)"><i class="bi bi-box-arrow-right"></i> Vender Producto</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="container px-4 px-lg-5">
          <br>
          <div class="card text-white bg my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">La gráfica muestra todos los datos para que se pueda verificar de mejor la manera y tener un completo manejo de la información.</p>
            </div>
        </div>
          <br>
        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-info-circle"></i>
              Información Importante
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            En este apartado podremos ver una gráfica detallada sobre las ventas de los Productos de la Sucursal, lleva un mejor control por este medio, en donde podras ver que
            Productos son los más populares y vendidos, así como el progreso de Venta de la Sucursal.
          </div>
        </div>
        <br>
          <br>
          <br>
          <div style="display: block;">
            <canvas baseChart
              chartType="pie"
              [data]="chartData"
              [colors]="chartColors"
              [labels]="chartLabels"
              [options]="chartOptions"
              [plugins]="chartPlugins"
              [legend]="chartLegend">
            </canvas>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
        </div>


    <!--Modal Vender Sucursal-->
    <div class="modal fade" id="modalVenderProductoSucursal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #6793F4">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">Vender Producto Sucursal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>

              <div class="mb-3">
                <label for="inputNombreProductoSucursal" class="form-label">Producto a Vender</label>
                <input placeholder="Producto a la Venta" type="text" class="form-control" id="inputNombreProductoSucursal" name="nombreProductoSucursal"
                #nombreProductoSucursal="ngModel" [(ngModel)]="productoSucursalModeGetlId.nombreProductoSucursal">
              </div>

              <div class="mb-3">
                <label for="inputCantidadVendidos" class="form-label">Cantidad a Vender</label>
                <input placeholder="Cantidad Vendida" type="number" class="form-control" id="inputCantidadVendidos" name="cantidadVendidos"
                #cantidadVendidos="ngModel" [(ngModel)]="productoSucursalModeGetlId.cantidadVendida">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="putProductosSucursal()">Vender</button>
          </div>
        </div>
      </div>
    </div>

</body>
<br>
&nbsp;
<br>

</html>

