<div class="app-container">
  <div class="left-area">
    <button class="btn-close-left">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-x-circle" viewBox="0 0 24 24">
        <defs/>
        <circle cx="12" cy="12" r="10"/>
        <path d="M15 9l-6 6M9 9l6 6"/>
      </svg>
    </button>
    <div class="app-name"></div>
    <a href="#" class="item-link active" id="pageLink">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-grid" viewBox="0 0 24 24">
        <defs />
        <path d="M3 3h7v7H3zM14 3h7v7h-7zM14 14h7v7h-7zM3 14h7v7H3z" />
      </svg>
    </a>
    <a href="#" class="item-link" id="pageLink">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-folder" viewBox="0 0 24 24">
        <defs />
        <path d="M22 19a2 2 0 01-2 2H4a2 2 0 01-2-2V5a2 2 0 012-2h5l2 3h9a2 2 0 012 2z" />
      </svg>
    </a>
    <a href="#" class="item-link" id="pageLink">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-hard-drive" viewBox="0 0 24 24">
        <defs />
        <path d="M22 12H2M5.45 5.11L2 12v6a2 2 0 002 2h16a2 2 0 002-2v-6l-3.45-6.89A2 2 0 0016.76 4H7.24a2 2 0 00-1.79 1.11zM6 16h.01M10 16h.01" />
      </svg>
    </a>
    <a href="#" class="item-link" id="pageLink">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-settings" viewBox="0 0 24 24">
        <defs />
        <circle cx="12" cy="12" r="3" />
        <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" />
      </svg>
    </a>
    <button class="btn-logout">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-log-out" viewBox="0 0 24 24">
        <defs/>
        <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4M16 17l5-5-5-5M21 12H9"/>
      </svg>
    </button>
  </div>
  <div class="main-area">
    <button class="btn-show-right-area">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"/></svg>
    </button>
    <button class="btn-show-left-area">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
    </button>
    <div class="main-area-header">
      <div class="search-wrapper" id="searchLine">
      <input class="search-input" type="text" placeholder="Buscar">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
        <defs/>
        <circle cx="11" cy="11" r="8"/>
        <path d="M21 21l-4.35-4.35"/>
      </svg>
    </div>
    </div>
    <section class="content-section">
      <h1 class="section-header">Todo Sobre Nosotros</h1>
      <br>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">Clientes</span>
            <span class="status-type">Satisfechos</span>
          </div>
          <div class="item-status">
            <span class="status-number">Alta</span>
            <span class="status-type">Funcionalidad</span>
          </div>
          <div class="item-status">
            <span class="status-number">Vistas</span>
            <span class="status-type">Atractivas y Comprensibles</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" /></svg>
          </button>
        </div>
      </div>
      <div class="content-section-line">
        <div class="section-part left">
          <a class="image-wrapper">
            <div class="image-overlay">
              <div class="video-info">
                <div class="video-info-text">
                  <p class="video-name medium">Hoteles de Calidad</p>
                  <p class="video-subtext medium">Guatemala</p>
                </div>
            </div>
            </div>
            <img src="https://live.staticflickr.com/65535/51348488707_de84b0af5c_h.jpg"/>
          </a>
        </div>
        <div class="section-part right">
          <div class="content-part-line">
            <a class="image-wrapper">
              <div class="image-overlay">
              <div class="video-info">
              <div class="video-info-text">
                <p class="video-name tiny">Correcta Administracion</p>
                <p class="video-subtext medium">Manejo Digital</p>
              </div>
            </div>
            </div>
            <img src="https://live.staticflickr.com/65535/48099341816_56fdf3b6d3_b.jpg"/>
          </a>
            <a class="image-wrapper">
              <div class="image-overlay">
              <div class="video-info">
              <div class="video-info-text">
                <p class="video-name tiny">Prioridades</p>
                <p class="video-subtext medium">Lo mejor de nosotros, para ti</p>
              </div>
            </div>
            </div>
              <img src="https://www.quonext.com/blog/wp-content/uploads/Depositphotos_29712363_m-2015.jpg"/>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section">
      <div class="section-header-wrapper">
        <h1 class="section-header">Información</h1>
        <a class="section-header-link">
          Control de Hoteles
        </a>
      </div>
      <div class="files-table">
        <div class="files-table-header">
          <div class="column-header table-cell">Gestión</div>
          <div class="column-header table-cell size-cell">Progreso</div>
          <div class="column-header table-cell">Modificación</div>
          <div class="column-header table-cell">Personal</div>
        </div>
        <div class="files-table-row">
          <div class="table-cell"> Progreso de las Vistas</div>
          <div class="table-cell">Completado</div>
          <div class="table-cell">Guatemala 2022</div>
            <div class="table-cell">Grupo de Trabajo</div>
        </div>
        <div class="files-table-row">
          <div class="table-cell">Información Correcta</div>
          <div class="table-cell size-cell">Completado</div>
          <div class="table-cell">Guatemala 2022</div>
            <div class="table-cell">Grupo de Trabajo</div>
        </div>
        <div class="files-table-row">
          <div class="table-cell">Apoyo a los Clientes</div>
          <div class="table-cell size-cell">Completado</div>
          <div class="table-cell">Guatemala 2022</div>
            <div class="table-cell">Grupo de Trabajo</div>
        </div>
      </div>
    </section>
  </div>
  <div class="right-area">
    <button class="btn-close-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-x-circle" viewBox="0 0 24 24">
        <defs/>
        <circle cx="12" cy="12" r="10"/>
        <path d="M15 9l-6 6M9 9l6 6"/>
      </svg>
    </button>
    <div class="right-area-header-wrapper">
      <p class="right-area-header">De Importancia</p>
    </div>
    <div class="download-item-line">
      <div class="line-header">En Proceso</div>
      <div class="download-area">
        <div class="download-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="">
            <defs></defs>
            <circle cx="256" cy="256" r="256" fill="#4b50dd"></circle>
            <path fill="#f5f5f5" d="M192 64h176c4.4 0 8 3.6 8 8v328c0 4.4-3.6 8-8 8H120c-4.4 0-8-3.6-8-8V148l80-84z"></path>
            <path fill="#e6e6e6" d="M184 148c4.4 0 8-3.6 8-8V64l-80 84h72z"></path>
            <circle cx="352" cy="384" r="52" fill="#2179a6"></circle>
            <g fill="#f5f5f5" class="g">
              <path d="M352 416c-2.208 0-4-1.788-4-4v-56c0-2.212 1.792-4 4-4s4 1.788 4 4v56c0 2.212-1.792 4-4 4z"></path>
              <path d="M352 416a3.989 3.989 0 01-2.828-1.172l-20-20c-1.564-1.564-1.564-4.092 0-5.656s4.092-1.564 5.656 0L352 406.344l17.172-17.172c1.564-1.564 4.092-1.564 5.656 0s1.564 4.092 0 5.656l-20 20A3.989 3.989 0 01352 416z"></path>
            </g>
          </svg>
        </div>
        <div class="download-item-texts">
          <p class="download-text-header">Funcionalidad</p>
          <p class="download-text-info">Completado<span></span></p>
        </div>
        <div class="download-icon">

        </div>
      </div>
    </div>
    <div class="download-item-line">
      <div class="line-header">Por Culminar</div>
      <div class="download-area">
        <div class="download-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="">
            <defs></defs>
            <circle cx="256" cy="256" r="256" fill="#4bc0dd"></circle>
            <path fill="#f5f5f5" d="M192 64h176c4.4 0 8 3.6 8 8v328c0 4.4-3.6 8-8 8H120c-4.4 0-8-3.6-8-8V148l80-84z"></path>
            <path fill="#e6e6e6" d="M184 148c4.4 0 8-3.6 8-8V64l-80 84h72z"></path>
            <circle cx="352" cy="384" r="52" fill="#2179a6"></circle>
            <g fill="#f5f5f5" class="g">
              <path d="M352 416c-2.208 0-4-1.788-4-4v-56c0-2.212 1.792-4 4-4s4 1.788 4 4v56c0 2.212-1.792 4-4 4z"></path>
              <path d="M352 416a3.989 3.989 0 01-2.828-1.172l-20-20c-1.564-1.564-1.564-4.092 0-5.656s4.092-1.564 5.656 0L352 406.344l17.172-17.172c1.564-1.564 4.092-1.564 5.656 0s1.564 4.092 0 5.656l-20 20A3.989 3.989 0 01352 416z"></path>
            </g>
          </svg>
        </div>
        <div class="download-item-texts">
          <p class="download-text-header">Pruebas de Trabajo</p>
          <div class="progress-bar">
            <span class="progress"></span>
          </div>
        </div>
        <div class="download-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="1 1 512 512">
            <defs/>
            <path d="M256 512C114.613 512 0 397.383 0 256S114.613 0 256 0s256 114.613 256 256c-.168 141.316-114.684 255.832-256 256zm0-480C132.29 32 32 132.29 32 256s100.29 224 224 224 224-100.29 224-224c-.133-123.656-100.344-223.867-224-224zm0 0"/>
            <path d="M208 368c-8.836 0-16-7.164-16-16V160c0-8.836 7.164-16 16-16s16 7.164 16 16v192c0 8.836-7.164 16-16 16zm0 0M304 368c-8.836 0-16-7.164-16-16V160c0-8.836 7.164-16 16-16s16 7.164 16 16v192c0 8.836-7.164 16-16 16zm0 0"/>
          </svg>
        </div>
      </div>
    </div>
  <br>
    <div class="right-area-header-wrapper">
      <p class="right-area-header">Otros Archivos</p>
    </div>
    <div class="received-item-line">
      <div class="progress-line">
      </div>
      <div class="received-items-content">
        <div class="received-files">
          <div class="image-wrapper">
          <img src="https://live.staticflickr.com/7361/27215138354_75e8417a65_k.jpg"/>
        </div>
        <div class="image-wrapper">
          <img src="https://live.staticflickr.com/8033/8060661661_3fad6d09a6_3k.jpg"/>
        </div>
        <div class="image-wrapper">
          <img src="https://live.staticflickr.com/1740/40812602940_e421b01e95_b.jpg"/>
        </div>
        </div>
        <div class="received-files-info">
          Gestión <span class="info-purple">Hotelería</span> Turismo  <span class="info-purple"></span>
        </div>
      </div>
    </div>
  </div>
</div>
