.body{
  font-family: 'Helvetica';
}

.btn-primary{
  background-color: #6793F4 !important;
  color: #fff;
}

p{
  text-align: justify;
}

.text-white{
  text-align: center;
}

.bg{
  background-color: #6793F4;
  font-size: 18px;
}
