<!DOCTYPE html>
<html lang="es">
    <body>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://miro.medium.com/max/1400/1*u6wsaofSWkZG4_-7vGto2g.png"/></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Control De Sucursales</h1>
                    <p>En el presente, una entidad empresarial, podrá registrar y así mismo llevar control de sus sucursales, es decir, llevar control de sus manifestaciones físicas, que pueden encontrarse en cualquier parte del país.
                      Es recomendable que la experiencia de tus clientes sea uniforme sin importar qué sucursal visiten.</p>
                    <a class="btn btn-primary" routerLink="/Login"><i class="bi bi-check"></i>  ¡Inicia ya con nosotros!</a>
                </div>
            </div>
            <div class="card text-white bg my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Lleva tu el control de tus sucursales y sus ubicaciones concretas, empieza ya.</p></div>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Incentivo</h3>
                            <p class="card-text">La administración de una o varias sucursales puede llegar a presentar un grado de dificultad, desde mantener el orden, hasta llevar
                              correctamente el control de los costos de operación.</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Objetivo</h3>
                            <p class="card-text">
                              Cualquier persona que posea este problema en particular en su negocio, o una gran empresa, puede llevar sus operaciones administrativas de forma eficiente y rentable, con nosotros.
                            </p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Acerca de</h3>
                            <p class="card-text">Somos un grupo de estudiantes, del Centro Educativo Técnico Laboral Kinal, que ven una problemática al momento de administrar sucursales, desde la perspectiva
                              de un ente empresarial, buscamos solucionar este problema por medio de esta herramienta web.</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-4 bg">
            <div class="container px-2 px-lg-2"><p class="m-0 text-center text-white">Copyright &copy; Control Sucursal 2022</p></div>
        </footer>

    </body>

</html>
