.card-link{
  text-decoration: none;
  color: #6793F4;
}

.btn{
  background-color: #6793F4;
  border: #6793F4;
  box-shadow: #6793F4;
}

.bg{
  background-color: #6793F4;
  font-size: 18px;
}

.card-text{
  text-align: center;
}
