<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>¡Lleva tú el Control!</h4>
          <p>Buscamos ayudarte y guiarte, para que puedas manejar de la mejor forma todas tus operaciones administrativas.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      <!--C&GH CONTROL & GESTOR DE HOTELES-->
      &copy; Copyright <strong><span>C&GH</span></strong>. Todos los derechos reservados.
    </div>
    <div class="credits">

      Realizado por <a>Grupo de Trabajo #7</a>
    </div>
  </div>
</footer><!-- End Footer -->
